<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>
        <img src="/img/flooop.png" alt="Meadowlark Travel Logo">
    </head>
    <body>

        {{{body}}}
    </body>
</html>